<nav class="bg-white bottomShadowColor py-[5px]">
    <div class="max-w-full px-3">
        <div class="flex flex-wrap">
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <a class="navbar-brand" href="">
                        <!-- LOGO -->
                        <img class="w-full h-auto" [src]="logo_image" alt="Logo of Mutual Trust Bank PLC">
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
