<nav class="bg-white bottomShadowColor py-[5px]">
    <div class="max-w-full px-3">
        <div class="flex flex-wrap">
            <div class="w-full">
                <div class="flex items-center justify-between">
                    <div>
                        <a class="navbar-brand" href="">
                            <img class="w-full h-auto" [src]="logo_image" alt="Logo of Mutual Trust Bank PLC">
                        </a>
                    </div>
                    <div>
                        <button class="toggle-button" (click)="toggleSidebar()">
                            <i class="bi bi-list text-black text-2xl border border-black px-2 me-2"
                                *ngIf="!isScreenSmall"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="fixed top-0 left-0 w-full h-screen bg-gray-100 p-4 transition duration-300 ease-in-out"
    [ngClass]="{'-translate-x-full': !isScreenSmall}">
    <button class="toggle-button" (click)="toggleSidebar()">
        <i class="bi bi-x text-white rounded-full bg-[#999999] text-xl font-bolder px-1" *ngIf="isScreenSmall"></i>
    </button>
    <side-bar class="z-10"></side-bar>
</div>