<div class="mt-4 mb-16 shadow-lg shadow-red-600 px-4">
    <div class="py-5 md:flex md:justify-end">
        <form class="pt-8">
            <fieldset class=" border border-black p-4">
                <legend class="bg-white px-4 font-semibold text-lg text-slate-700">Sign In</legend>
                <div class="mb-4">
                    <label for="loginID" class="block text-sm font-bold text-gray-700">Login ID <span
                            class="text-green-600">*</span></label>
                    <input id="loginID" type="text" placeholder="Type your Login ID"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" />
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-bold text-gray-700">Password <span
                            class="text-green-600">*</span></label>
                    <input id="password" type="password" placeholder="Type your Password"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm" />
                </div>
                <div class="mb-2 md:ml-28">
                    <a href="#" class="text-sm font-semibold text-green-600 hover:underline">Forgot Login ID/
                        Password ? ></a>
                </div>
                <div class="text-center">
                    <button type="submit"
                        class="w-fit bg-green-600 text-white px-6 py-2 text-sm font-medium hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border-b-4 border-red-500">
                        Sign In
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>