<div class="w-full shadow-lg shadow-red-600 bg-[#009749] text-white py-1">
    <div class="flex flex-col md:items-center justify center md:justify-between px-4">
        <div class="md:w-1/4 p-2">
            <img [src]="footer_image" alt="footer logo">
        </div>
        <div class="md:w-3/4 text-[15px] text-center md:text-right">
            <i class="bi bi-telephone-fill"></i>If you encounter any problem in using this website
            <strong> Call to <a href="tel:09638009045"> 09638009045 </a> (Dial from any number).</strong>
            <br/>
            Our Contact Centre is available from 9 am to 6 pm (Saturday to Thursday).
            <br/>
            Or <strong> Email to : <a href="mailto:mtb@bdjobs.com">{{bdjobs_mail}} </a> </strong>
            <div class="text-sm">Copyright © 2024 Mutual Trust Bank PLC. All rights reserved.</div>
        </div>
    </div>
</div>