<!-- <div class="w-full shadow-md shadow-red-600 mb-4">
    <div class="flex bg-white">
        <span class="inline-block bg-[#d9d9d9] px-6 text-xs py-2">Notice</span>
        <div class="absolute top-1/2 right-0 -translate-y-1/2 translate-x-full w-0 h-0 border-t-[8px] border-t-transparent border-b-[8px] border-b-transparent border-l-[8px] border-l-gray-200">
        </div>
    </div>
</div> -->


<div>
    <h1 class="flex items-center space-x-2 bodyShadowColor">
        <!-- Notice Box -->
        <div class="relative bg-[#d9d9d9] text-slate-700 px-4 py-[6px]">
            Notice
            <!-- Arrow -->
            <div
                class="absolute top-1/2 right-0 -translate-y-1/2 translate-x-full w-0 h-0 border-t-[8px] border-t-transparent border-b-[8px] border-b-transparent border-l-[8px] border-l-[#d9d9d9]">
            </div>
        </div>
    </h1>
</div>